<div id="one">
  <form action="/drugs" method="post">
    Drug Name:<br>
    <input type="text" name="drugname" placeholder="Type in a drug">
    <input type="submit" value="Submit">
  </form>
</div>
<div id="comparison">
  <form action="/drugs" method="post">
    Drug Comparison:<br>
    <input type="text" name="drugname" placeholder="Type in a drug">
    <input type="text" name="drugname2" placeholder="Type in second drug">
    <input type="submit" value="Submit">
  </form>
</div>
