<h2>Login to your Account!</h2>

<% if @errors %>
  <%= erb :"_errors", locals: { errors: @errors } %>
<% end %>

<form method="POST" action="/sessions">
  <input type="text" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Sign in">
</form>
